---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Find Food Philly</title>
  </head>
  <body>
    <div class="navbar bg-base-100 shadow-sm">
      <div class="flex-1">
        <a class="btn btn-ghost text-xl">Find Food Philly</a>
      </div>
      <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
          <li>
            <details>
              <summary>Neighborhoods</summary>
              <ul class="bg-base-100 rounded-t-none p-2">
                <li><a href="/neighborhoods/center-city/">Center City</a></li>
                <li><a href="/neighborhoods/north-philly/">North Philly</a></li>
                <li><a href="/neighborhoods/south-philly/">South Philly</a></li>
                <li>
                  <a href="/neighborhoods/southwest-philly/">Southwest Philly</a
                  >
                </li>
                <li><a href="/neighborhoods/west-philly/">West Philly</a></li>
              </ul>
            </details>
          </li>
          <li><a>Suggest a Site</a></li>
          <li><a>Contribute</a></li>
        </ul>
      </div>
    </div>
    <main class="container mx-auto prose p-8">
      <slot />
    </main>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
